<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @number.number %>
</p>

<p>
  <strong>Number2:</strong>
  <%= @number.number2 %>
</p>

<p>
  <strong>Number3:</strong>
  <%= @number.number3 %>
</p>

<%= link_to 'Edit', edit_number_path(@number) %> |
<%= link_to 'Back', numbers_path %>
